.main{
    margin: 0;
    padding: 0;
    border: 0;
     
}

body{
    background:  #d305b7;
    color: #03d1d1;
    
}

button{
    border: none;
    font-weight: bold;
    
    background-color: #03d1d1;
    cursor: pointer;
    width: 110px;
    height: 40px;   
    border-radius: 70px;
    box-shadow:0px 8px 16px black;
    margin: 20px; 
    font-family: arial,sans-serif;   
 }

 input{
    border-radius: 70px;
    width: 500px;
    height: 35px;
 }

 img{
    margin-top: 30;
    margin-bottom: 20;
    
    width: 250px;
    height: 250px;
 }



